<a href="https://colab.research.google.com/github/RileyShow/MIS2800/blob/main/HW3_MIS2800_Showalter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Type this code exactly as shown to intall the first library needed for SQLite3 to work using SQLite Magic
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (3.0.0)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable==3.10.1 in /usr/local/lib/python3.12/dist-packages (3.10.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.10.1) (0.5.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [2]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.10.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.46)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.5.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
ipython sql installed

In [3]:
# Load the SQL magic extension
%load_ext sql

In [4]:
#this code imports sqlite3 and prints a statement stating it has been imported
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [5]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('AdCampaigns2026.db')
print("database created")

database created

In [6]:
# This line is required so Colab stops acting like Python and acts more like a SQL database terminal
%sql sqlite:///AdCampaigns2026.db

keyboard_arrow_down There are bugs (mistakes) for you to find and fix in the next 10 blocks

In [11]:
%%sql
CREATE TABLE Marketing_Brands (
  brand_id INTEGER PRIMARY KEY,
  brand_name TEXT,
  brand_type TEXT,
  brand_budget INTEGER
) STRICT;

 * sqlite:///AdCampaigns2026.db
Done.

[]

In [33]:
%%sql
DELETE FROM Marketing_Brands;

INSERT INTO Marketing_Brands (brand_id, brand_name, brand_type, brand_budget)
VALUES
  (1, 'Doritos', 'Snacks', 7000000),
  (2, 'AWS', 'Technology', 15000000),
  (3, 'Pepsi', 'Beverages', 2000000),
  (4, 'He_Gets_Us', 'Religious', 1000000),
  (5, 'Dr_Pepper', 'Beverages', 5000000),
  (6, 'IBM', 'Technology', 100000),
  (7, 'Google', 'Technology', 8000000);

 * sqlite:///AdCampaigns2026.db
7 rows affected.
7 rows affected.

[]

In [19]:
%%sql
SELECT * FROM Marketing_Brands;

 * sqlite:///AdCampaigns2026.db
Done.

[(1, 'Doritos', 'Snacks', 7000000),
 (2, 'AWS', 'Technology', 15000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (6, 'IBM', 'Technology', 100000),
 (7, 'Google', 'Technology', 8000000)]

In [21]:
%%sql
SELECT brand_name, brand_type FROM Marketing_Brands WHERE brand_budget > 700000;

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos', 'Snacks'),
 ('AWS', 'Technology'),
 ('Pepsi', 'Beverages'),
 ('He_Gets_Us', 'Religious'),
 ('Dr_Pepper', 'Beverages'),
 ('Google', 'Technology')]

In [25]:
%%sql
SELECT brand_name, brand_type FROM Marketing_Brands WHERE brand_type = 'Religious';

 * sqlite:///AdCampaigns2026.db
Done.

[('He_Gets_Us', 'Religious')]

In [27]:
%%sql
SELECT brand_name FROM Marketing_Brands WHERE brand_budget < 1000000;

 * sqlite:///AdCampaigns2026.db
Done.

[('IBM',)]

In [35]:
%%sql
SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000

 * sqlite:///AdCampaigns2026.db
Done.

[(2, 'AWS', 'Technology', 15000000), (7, 'Google', 'Technology', 8000000)]

In [37]:
%%sql
--Instructions: Find the brands where the brand type is
-- Snacks or Beverages.  Display only the brand names.
SELECT brand_name FROM Marketing_Brands WHERE brand_type = 'Snacks' OR brand_type = 'Beverages';

 * sqlite:///AdCampaigns2026.db
Done.

[('Doritos',), ('Pepsi',), ('Dr_Pepper',)]

In [39]:
%%sql
-- Instructions: Sort the table by brand budget in
-- DESC order. Display only the brand_name and brand_budget.
SELECT brand_name, brand_budget FROM Marketing_Brands ORDER BY brand_budget DESC;

 * sqlite:///AdCampaigns2026.db
Done.

[('AWS', 15000000),
 ('Google', 8000000),
 ('Doritos', 7000000),
 ('Dr_Pepper', 5000000),
 ('Pepsi', 2000000),
 ('He_Gets_Us', 1000000),
 ('IBM', 100000)]

In [40]:
%%sql
-- Display all columns from Marketing_Brands table, ordered by brand_budget in ascending order
SELECT *
FROM Marketing_Brands
ORDER BY brand_budget ASC;

 * sqlite:///AdCampaigns2026.db
Done.

[(6, 'IBM', 'Technology', 100000),
 (4, 'He_Gets_Us', 'Religious', 1000000),
 (3, 'Pepsi', 'Beverages', 2000000),
 (5, 'Dr_Pepper', 'Beverages', 5000000),
 (1, 'Doritos', 'Snacks', 7000000),
 (7, 'Google', 'Technology', 8000000),
 (2, 'AWS', 'Technology', 15000000)]

1. How did you fix the error in Block #1? Answer:
TABLE was missing, I simply added it after CREATE.

2. How did you fix the error in Block #2? Answer:
Changing INSEERT into INSERT INTO.

3. How did you fix the error in Block #3? Answer:
Adding an * infront of of FROM.

4. How did you fix the error in Block #4? Answer:
Completely changed the code to - SELECT brand_name, brand_type FROM Marketing_Brands WHERE brand_budget > 700000 ;

5. How did you fix the error in Block #5? Answer:
Changed the code to - SELECT brand_name, brand_type FROM Marketing_Brands WHERE brand_type = 'Religious';

6. How did you fix the error in Block #6? Answer:
Changed the code to - SELECT brand_name FROM Marketing_Brands WHERE brand_budget < 1000000;

7. How did you fix the error in Block #7? Answer:
Added - SELECT * FROM Marketing_Brands WHERE brand_budget > 7000000

8. How did you fix the error in Block #8? Answer:
Added - SELECT brand_name FROM Marketing_Brands WHERE brand_type = 'Snacks' OR brand_type = 'Beverages';

9. How did you fix the error in Block #9? Answer:
Added - SELECT brand_name, brand_budget FROM Marketing_Brands ORDER BY brand_budget DESC;

10. How did you fix the error in Block #10? Answer:
SELECT *
FROM Marketing_Brands
ORDER BY brand_budget ASC;